/* Extra Small Devices, Phones */ 
$media-xs: "(min-width : 480px)";

/* Small Devices, Tablets */
$media-sm: "(min-width : 768px)";

/* Medium Devices, Desktops */
$media-md: "(min-width : 992px)";

/* Large Devices, Wide Screens */
$media-lg: "(min-width : 1200px)";

.body{
  background-color: #F4F3EE;
}
.container{
  margin: auto;
  @media #{$media-xs}{
    width: 95%
  }
  @media #{$media-sm}{
    width: 75%
  }
  @media #{$media-md}{
    width: 65%
  }
  @media #{$media-lg}{
    width: 50%
  }
}
