
<h2>What yo' want?</h2>

<form>
	<div class="form-group">
		<label for="name">Name</label>
		<input id="name" class="form-control" type="text" placeholder="Yo' Name" ng-model="newOrder.name">
	</div>
	<div class="form-group">
		<label for="order">Order</label>
		<input id="order" class="form-control" type="text" placeholder="Yo' Order" ng-model="newOrder.order">
	</div>
	<div class="form-group">
		<label for="notes">Notes?</label>
		<input id="notes" class="form-control" type="text" placeholder="Yo' Notes?" ng-model="newOrder.notes">
	</div>
	<button type="submit" class="btn btn-default" ng-click="addOrder(newOrder);newOrder = null;">Order</button>
	<button type="submit" class="btn btn-default" ng-really-message="Are you sure?" ng-really-click="empty()">Clear</button>
</form>

<ul id="messages" ng-show="orders.length">
	<li ng-repeat="order in orders | reverse">
		<h3>{{order.details.order}}</h3>
		<h4>{{order.details.name}}dog</h4>
		<p>{{order.details.notes}}</p>
		<small>{{order.details.time | date:'HH:mm, EEE-MMM-yy'}}</small>
	</li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
